################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VanguardWebApp
/VanguardWebApp/bin/Debug/netcoreapp3.1
/VanguardWebApp/obj
/VanguardWebApp/wwwroot/css/open-iconic/README.md
/VanguardWebApp/bin/Release/netcoreapp3.1
/VanguardWebApp/.config
/VanguardWebApp/Properties/PublishProfiles
