@page "/"
@namespace VanguardWebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script>var aowow_tooltips = { colorlinks: true, iconizelinks: true, renamelinks: true };</script>
    <script type="text/javascript" src="https://tbcdb.com/tooltips/power.js?vnew"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanguard Guild</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="CustomStyles.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="_framework/blazor.server.js"></script>

    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll < 420) {
                $('.fixed-top').css('background', 'transparent');
            } else {
                $('.fixed-top').css('background', 'rgb(24, 38, 36)');
            }
        });
    </script>

</body>
</html>
