@page "/Raidinginfo"
    <div class="body_main margin-index">
        <div class="body_content">
            <h5>﻿DEBUFFS</h5>
            <p>
                Below is a list of all allowed debuffs. We have a limited amount of debuffs, so we have to be stricts about our usages.
            </p>
            <br/>
            <div class="container small-font text-center">
                <div class="row">
                    <div class="col">
                        <img src="/images/debuff_cor.png" class="img-responsive  desat-image">
                        <p><h6>Curse of Recklessness</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_cote.png" class="img-responsive  desat-image">
                        <p><h6>Curse of the Elements</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_cos.png" class="img-responsive  desat-image">
                        <p><h6>Curse of Shadow</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_sunderarmor.png" class="img-responsive  desat-image">
                        <p><h6>Sunder Armor</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_faeriefire.png" class="img-responsive  desat-image">
                        <p><h6>Faerie Fire</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_goa.png" class="img-responsive  desat-image">
                        <p><h6>Gift of Arthas</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_thunderfury.png" class="img-responsive  desat-image">
                        <p><h6>Thunderfury One</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_thunderfury.png" class="img-responsive  desat-image">
                        <p><h6>Thunderfury Two</h6></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="/images/debuff_fireball.png" class="img-responsive  desat-image">
                        <p><h6>Fireball</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_ignite.png" class="img-responsive desat-image">
                        <p><h6>Ignite</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_firevul.png" class="img-responsive  desat-image">
                        <p><h6>Fire Vulnerability</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_improvedshadowbolt.png" class="img-responsive  desat-image">
                        <p><h6>Improved Shadow Bolt</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_huntersmark.png" class="img-responsive  desat-image">
                        <p><h6>Hunter's Mark</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_demoshout.jpg" class="img-responsive  desat-image">
                        <p><h6>Demoralizing Shout</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_screech.jpg" class="img-responsive  desat-image">
                        <p><h6>Screech</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_taunt.jpg" class="img-responsive  desat-image">
                        <p><h6>Taunt</h6></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <h5>﻿CONSUMABLES</h5>
            <p>
                Below is a list of the required consumable kit for phase 6. All players are required to bring all of the Naxx encounter consumables plus their role kit!
            </p>
            <br/>
            <div>
                @if (dataIsLoaded == false)
                {
                    <p>Fetching consumables. Please wait...</p>
                }
                @if (dataIsLoaded && ConsumablesCollection != null)
                {
                    @foreach (var role in ConsumablesCollection.Roles)
                    {
                        <h5 class="float-left">@role.RoleName.ToUpper()</h5>
                        <table class="tftable">
                            <tr>
                                <th></th>
                                <th></th>
                                <th><center>AMOUNT</center></th>
                            </tr>
                            @foreach (var consumable in role.Consumables)
                            {
                                <tr>
                                    <td width="28">
                                        <a href="https://classic.wowhead.com/item=@consumable.Itemid" target="_blank">
                                            <img src=@GetIconPath(consumable.Itemid)>
                                        </a>
                                    </td>
                                    <td class="table_lootname">
                                        @consumable.Name
                                    </td>
                                    <td class="table_gpvalue">
                                        <center><b>@consumable.Amount</b></center>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>