@page "/"
    <div class="row">
        <div class="col-md-4">
            @if (dataIsLoaded == false)
            {
                <p>Fetching player data. Please wait...</p>
            }
            @if (dataIsLoaded && RosterTBC != null)
            {
                @foreach (var rosterSpec in RosterTBC.RosterSpecs)
                {
                    <PlayerComponentTBC RosterSpec=rosterSpec />
                }
            }
        </div>
        <div class="col-md-8 body_main">
            <h5>GUILD VISION</h5>
            <br>
            <p>
                The goal of Vanguard is to enable our members to play WoW on a serious level without having to dedicate their lives to the game. We try to achieve this by having a much stronger focus on organization and structure, rather than brute-forcing the content with multiple raid days, split runs, and geared out alts for the perfect raid composition.
            </p>
            <p>
                Our approach to the game won’t change once Kel’Thuzad dies, this applies to everything from the way we distribute loot, to what we expect of our raiders. Just because the final boss is dead doesn’t mean that we're done progressing in Naxx as a guild. This phase will have a strong focus on maintaining a stable roster. A roster that can do fast and efficient Naxx clears each week - with 40 people. We will be shifting to more conventional strategies, which we think will have a bigger and more consistent impact on the overall speed - rather than doing bigger riskier "speed run strategies".
            </p>
            <p>
                Vanguard is a semi-hardcore guild, that give you a chance to go as hard as possible within one raid day. Without forcing you to dedicate your entire life to WoW!
            </p>
        </div>
    </div>