@page "/"
    <div class="body_main margin-index">
        <div class="body_content">
            <h5>GUILD VISION</h5>
            <br>
            <p>
                The goal of Vanguard is to enable our members to play WoW on a serious level without having to dedicate their lives to the game. We try to achieve this by having a much stronger focus on organization and structure, rather than brute-forcing the content with multiple raid days, split runs, and geared out alts for the perfect raid composition.
            </p>
            <p>
                Our approach to the game won’t change once Kel’Thuzad dies, this applies to everything from the way we distribute loot, to what we expect of our raiders. Just because the final boss is dead doesn’t mean that we're done progressing in Naxx as a guild. This phase will have a strong focus on maintaining a stable roster. A roster that can do fast and efficient Naxx clears each week - with 40 people. We will be shifting to more conventional strategies, which we think will have a bigger and more consistent impact on the overall speed - rather than doing bigger riskier "speed run strategies".
            </p>
            <p>
                Vanguard is a semi-hardcore guild, that give you a chance to go as hard as possible within one raid day. Without forcing you to dedicate your entire life to WoW!
            </p>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <h5>RAIDING</h5>
            <br>
            <p>
                Vanguard is raiding 1-2 days during the week, Wednesday and Sunday 19:45 cet - 23:00 cet ( invites start at 19:00 cet). In the beginning of phase 6 Wednesday will be used for Naxx progression. The main goal is to get down to one raid a week and be able to comfortably clear Naxx during our SUN raid.

                We will not be running AQ and BWL during phase 6, and our main priority will be Naxx.
            </p>
        </div>
        <div class="breaker"</div>
        <div class="body_content">
            <h5>﻿LOOT RULES</h5>
            <p>
                The guild is running with a "DKP'like" system called EPGP (Effort Points/Gear Points). The system is based on a priority system that ranks players based on gear received and attendance. On top we have a completely custom price list, and spec priority system that will make sure that the right classes get the correct items. You can find an example of the NAXX price list here https://www.vanguard-guild.com/NAXX.
            </p>
            <p>
                During some raids some members might end up on standby. Players on standby will receive 100% effort points as long as they stay active.
            </p>
            <p>
                Decay is happening after each Sunday raid. This will reduce everybody's EP and GP by 15% and will be rolled out across ALL players.
            </p>
        </div>
        <div class="breaker"</div>
    </div>