@page "/"
    <div class="body_main margin-index">
        <div class="body_content">
            <h5>GOAL</h5>
            <br>
            <p>
                The goal of the guild is to clear all available raid tiers, as fast as possible within our 1-2 raiding days.
                We put a big focus on structure and dedication - we are not a hardcore guild in terms of hours played, but we take a serious approach to our raids and time we spend together as a guild.
            </p>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <h5>EXPECTATIONS OF A RAIDER</h5>
            <br>
            <p>
                To reach our goal as a guild and to maintain a high level of play, some expectations have to be met for a player to gain and keep the rank as raider in Vanguard.
            </p>
            <p>
                You are required to have a good understanding of your class. This means showing up in the right spec, having a good understanding of how to utilise this spec and pursue the right gear that fits this spec.
                Having a good approach to gear should include three things. Farm your pre-bis outside of raids, enchant all received raid gear with highest level enchants, and have a good understanding of what items you will need from each raid tier.
                All raiders are required to have a high raid performance. This can be achieved by having good logs, high attendance, a healthy attitude and good raid preparation. High performance will be determined on a per case basis, but it’s important that all raiders have a mature approach to both receiving and giving feedback if we spot lower level of performance in some areas.
            </p>
            <p>
                Show interest in the community. This means keeping up to date with the announcements and things happening within the guild. And last but not least, be nice to your fellow raiders and members.
            </p>
            <p>
                <center><b>It’s important to highlight that we look at all of these factors when considering promotions, and everything is based on a per player basis. We do not expect everybody to be perfect in all aspects, but we will look at the whole picture when considering promotions.</b></center>
            </p>
            <p>
                <center><b> We require a min. of 4 raids for a recruit before a promotion can take place!</b></center>
            </p>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <h5>RAIDING</h5>
            <br>
            <p>
                Vanguard is raiding 1-2 days during the week, Wednesday and Sunday 20:00 cet - 23:00 cet ( invites start at 19:30 cet). Wednesday will only be used if we are falling behind on content or cant clear the raids we want during the Sunday raid.
                We start the raids at 20:00 cet, all raiders have to be present on Discord, invited to the raid group and zoned in by then. You should have a good understanding of each encounter before the raids start, and have prepared all consumables from the raid consumable kit.
                It is important that all members contribute to a good raiding environment, this mean treating each other with respect. And in case disputes happens, please bring it up with a member of the council.
            </p>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <h5>STANDBY</h5>
            <br>
            <p>
                When a raid has more than 40 signups the raid leader has the opportunity to move people to the bench.  As a player you are not allowed to bench yourself.
            </p>
            <p>
                Benched people have the option to go on standby at raid start. People on standby can be used if someone doesn’t show up, or if we are  required to swap classes during an encounter/raid. People on standby will receive full EP but are required to stay active for the full duration of the raid (20:00-23:00).
            </p>
            <p>
                <b>How to go on standby?:</b>
            </p>
            <div class="text_indent_div">
                <p>
                    <li>When invites go out, sign in by dropping a message in the standby channel on Discord. You can sign in between 19:30 and 20:00.</li>
                    <br>
                    <li>Sign out by dropping a message in the standby channel on Discord when the raid is done.</li>
                    <br>
                    <li>All communication regarding standby players will be made in the standby discord channel. If you are called upon during a raid we require you to respond within 5 minutes, or you will be seen as inactive and will lose the rights to earn EP from the current raid.</li>
                    <br>
                    <li>People that are benched are NOT required to go on standby.</li>
                </p>
            </div>
        </div>
        <div class="breaker"</div>
        <div class="body_content">
            <h5>REROLLING</h5>
            <p>
                Moving people on to a new class is something we might utilize as a tool to strenghten the roster. And it's important for us to share the guidelines for this process.
            </p>
            <p>
                We categorize rerolls in to two group.
            </p>
            <p>
                <li>We reach out to a player of a certain class, and ask them if they are interested in moving over to an alt - this will typically be done to improve our roster.</li>
                <li>You as a player contact our recruitment officer, and get approved to reroll through the guild leadership.</li>
            </p>
            <p>
                At no point is this decision up to the individual player alone, but something that needs to be approved on a guild leadership level.
                People who do end up being approved for a reroll will hold full responsibility for their performance, and will be treated as any other main in the guild.
            </p>
            <p>
                <center><b>Think it through as you wont be able to reverse this descision - if you decide to reroll.</b></center>
            </p>
        </div>
        <div class="breaker"</div>
        <div class="body_content">
            <h5>﻿RAID CONSUMABLE KIT</h5>
            <p>
                Below you will find the full raid consumable kit. Each raider is required to have a full set of the consumable kit ready at each raid start.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="/images/tanks.png" class="img-responsive fit-image desat-image">
                        <br>
                        <p><h6>﻿TANKS</h6></p>
                        <div class="small-font">
                            <p>5x Limited Invulnerability Potion </p>
                            <p>5x Restorative Potion </p>
                            <p>10x Free Action Potion </p>
                            <p>10x Major Healing Potions </p>
                            <p>30x Greater Stoneshield </p>
                            <p>20x Food Buff  </p>
                            <p>10x Gift of Arthas </p>
                            <p>10x Elixir of Superior Defense </p>
                            <p>10x Elixir of the Mongoose</p>
                            <p>10x Elixir of the Giants </p>
                            <p>10x Elemental Sharpening Stones</p>
                            <p>10x Dense Sharpening Stones</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="/images/melee.png" class="img-responsive fit-image desat-image">
                        <br>
                        <p><h6>﻿MELEE</h6></p>
                        <div class="small-font">
                            <p>10x Greater fire protection potion</p>
                            <p>5x  Greater shadow protection potion</p>
                            <p>5x  Limited Invulnerability Potion</p>
                            <p>10x Free Action Potion</p>
                            <p>5x  Restorative Potion</p>
                            <p>10x Major Healing Potions</p>
                            <p>20x Food Buff</p>
                            <p>10x Elixir of Mongoose</p>
                            <p>10x Elixir of Giants / Juju's</p>
                            <p>10x Elemental Sharpening Stone</p>
                            <p>10x Dense Sharpening Stone</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="/images/casters.png" class="img-responsive fit-image desat-image">
                        <p><h6>﻿CASTERS</h6></p>
                        <div class="small-font">
                            <p>5x Greater fire protection potion</p>
                            <p>5x Limited Invulnerability Potion</p>
                            <p>5x Restorative Potion</p>
                            <p>10x Major Mana Potions</p>
                            <p>10x Major Healing Potions</p>
                            <p>20x Food Buff</p>
                            <p>10x Greater Arcane Elixir</p>
                            <p>10x Elixir of Frost/Shadow Power</p>
                            <br>
                            <p><b>Hunters</b></p>
                            <p>10x Swiftness potion</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="/images/healers.png" class="img-responsive fit-image desat-image">
                        <br>
                        <p><h6>﻿HEALERS</h6></p>
                        <div class="small-font">
                            <p>5x Greater fire protection potion</p>
                            <p>5x Limited Invulnerability Potion</p>
                            <p>5x Restorative Potion</p>
                            <p>20x Major Mana Potions</p>
                            <p>20x Food Buff</p>
                            <p>20x Darkrunes/Demonic runes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_content">
            <h5>﻿DEBUFFS</h5>
            <p>
                Below is a list of all allowed debuffs. We have a limited amount of debuffs, so we have to be stricts about our usages.
            </p>
            <div class="container small-font text-center">
                <div class="row">
                    <div class="col">
                        <img src="/images/debuff_cor.png" class="img-responsive  desat-image">
                        <p><h6>Curse of Recklessness</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_cote.png" class="img-responsive  desat-image">
                        <p><h6>Curse of the Elements</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_cos.png" class="img-responsive  desat-image">
                        <p><h6>Curse of Shadow</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_sunderarmor.png" class="img-responsive  desat-image">
                        <p><h6>Sunder Armor</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_faeriefire.png" class="img-responsive  desat-image">
                        <p><h6>Faerie Fire</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_goa.png" class="img-responsive  desat-image">
                        <p><h6>Gift of Arthas</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_shadowweaving.png" class="img-responsive  desat-image">
                        <p><h6>Shadow Weaving</h6></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="/images/debuff_shadowwordpain.png" class="img-responsive  desat-image">
                        <p><h6>Shadow Word: Pain</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_improvedshadowbolt.png" class="img-responsive  desat-image">
                        <p><h6>Improved Shadow Bolt</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_winterschill.png" class="img-responsive desat-image">
                        <p><h6>Winter's Chill</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_huntersmark.png" class="img-responsive  desat-image">
                        <p><h6>Hunter's Mark</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_demoshout.jpg" class="img-responsive  desat-image">
                        <p><h6>Demoralizing Shout</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_screech.jpg" class="img-responsive  desat-image">
                        <p><h6>Screech</h6></p>
                    </div>
                    <div class="col">
                        <img src="/images/debuff_taunt.jpg" class="img-responsive  desat-image">
                        <p><h6>Taunt</h6></p>
                    </div>
                </div>
            </div>
        <div class="body_content">
            <h5>﻿GUILD CRAFTERS</h5>
            <p>
                Below is a list of dedicated guild crafters. These people will have priority on profession patterns/recipes. If no guild crafter wants the pattern then it will be rolled out for all raiders that can learn the pattern/recipe.
            </p>
            <div class="container small-font text-center text-center">
                <div class="row">
                    <div class="col">
                        <img src="/images/proffesion_alchemy.png" class="img-responsive  desat-image">
                        <p><h6>Alchemy</h6></p>
                        <p>Savene</p>
                    </div>
                    <div class="col">
                        <img src="/images/proffesion_armorsmith.png" class="img-responsive  desat-image">
                        <p><h6>Armorsmith</h6></p>
                        <p>Primo</p>
                    </div>
                    <div class="col">
                        <img src="/images/proffesion_enchanting.png" class="img-responsive  desat-image">
                        <p><h6>Enchanting</h6></p>
                        <p>Mehh</p>
                    </div>
                    <div class="col">
                        <img src="/images/proffesion_engineering.png" class="img-responsive  desat-image">
                        <p><h6>Engineering</h6></p>
                        <p>Focuzz</p>
                    </div>
                    <div class="col">
                        <img src="/images/proffesion_leatherworking.png" class="img-responsive  desat-image">
                        <p><h6>Leatherworking</h6></p>
                        <p>Scheat</p>
                    </div>
                    <div class="col">
                        <img src="/images/proffesion_tailoring.png" class="img-responsive  desat-image">
                        <p><h6>Tailoring</h6></p>
                        <p>Enti</p>
                    </div>
                    <div class="col">
                        <img src="/images/proffesion_weaponsmith.png" class="img-responsive  desat-image">
                        <p><h6>Weaponsmith</h6></p>
                        <p></p>
                    </div>
                    <div class="col">
                    <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breaker"</div>
        <div class="body_content">
            <h5>﻿LOOT RULES</h5>
            <p>
                The guild is running with a "DKP'like" system called EPGP (Effort Points/Gear Points). The system is based on a priority system that ranks players based on gear received and attendance. On top we have a completely custom price list, were each GP price is based on the stat weight of each class. On top of that we will be running with a soft priority system that will make sure that the right classes get the correct items. You can find an example of the BWL price list here https://www.vanguard-guild.com/bwl-gp.
            </p>
            <p>
                During some raids some members might end up on standby. Players on standby will receive 100% effort points as long as they stay active.
            </p>
            <p>
                Decay is happening after each Sunday raid. This will reduce everybody's EP and GP by 10% and will be rolled out across ALL players. This is to encourage people to grab items as they will essentially get a 10% discount on the price when the decay occurs.
            </p>
            <p>
                <b>Recruit can only obtain gear if no raider wants the item, but will still receive Effort Points when attending raids.</b>
            </p>
        </div>
        <div class="breaker"</div>
        <div class="body_content">
            <h5>﻿SPECIAL ITEMS</h5>
            <p>Some items in classic are very sought after and will be distributed under specific rules, which can be found here.</p>
            <div class="container">
                <div class="row">
                    <div class="col-1"><img src="/images/special_thunderfury.png" class="img-responsive  desat-image"></div>
                    <div class="col-11"><p><h6>Bindings of the Windseeker</h6></p><p>Binding will we given out in the following order <b>Adla</b> > <b>Focuzz</b> > <b>Tyratanks</b> > <b>Nybras</b>.</p></div>
                </div>
                <div class="row">
                    <div class="col-1"><img src="/images/special_eyeofsulfuras.png" class="img-responsive  desat-image"></div>
                    <div class="col-11"><p><h6>Eye of Sulfuras</h6></p><p>Can be obtained by Warriors or Paladins. You need to have a rank of ‘Raider’ or above and willing to commit the materials and gold to craft it.</p></div>
                </div>
            </div>
        </div>
        <div class="breaker"</div>
        <div class="body_content">
            <h5>﻿ADDONS</h5>
            <p><a href="https://www.curseforge.com/wow/addons/cepgp">https://www.curseforge.com/wow/addons/cepgp</a> </p>
            <p><a href="https://www.curseforge.com/wow/addons/angry-assignments">https://www.curseforge.com/wow/addons/angry-assignments</a> </p>
            <p><a href="https://www.curseforge.com/wow/addons/threatclassic2">https://www.curseforge.com/wow/addons/threatclassic2</a> </p>
        </div>
        <div class="breaker"</div>
    </div>
</div>