@page "/raid/{RaidName}"

<div class="body_main">
    <div>
        @if (dataIsLoaded && Raid != null)
        {
            @foreach (var bosses in Raid.Bosses)
            {
                <h3>@bosses.Name</h3>
                <TableComponent Boss=bosses/>         
            }
        }
    </div>
</div>