@page "/raid/{RaidName}"

<div class="table_div">
    <div>
        @if (dataIsLoaded == false)
        {
            <p>Fetching loot data. Please wait...</p>
        }
        @if (dataIsLoaded && Raid != null)
        {
            @foreach (var bosses in Raid.Bosses)
            {
                <h3>@bosses.Name</h3>
                <TableComponent Boss=bosses />
            }
        }
    </div>
</div>