@page "/PhaseSchedule"
    <div class="table_div">
        <div class="body_content">
            <div class="row">
                <div class="col-sm">
                    <h3>PHASE 1</h3>
                </div>
                <div class="col-sm" align="right">
                    <h3>AUGUST 26, 2019</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/images/instances/onyxia.png" style="max-height: 160px" class="img-responsive  fit-image desat-image" />
                    <br>
                    <p><h5>WEDNESDAY - ONY</h5></p>
                </div>
                <div class="col-sm" align="right">
                    <img src="/images/instances/moltencore.png" style="max-height: 160px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>MC - SUNDAY</h5></p>
                </div>
            </div>
            <br>
            <div>
                <p>
                    No comments have been made about this phase!
                </p>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <div class="row">
                <div class="col-sm">
                    <h3>PHASE 2</h3>
                </div>
                <div class="col-sm" align="right">
                    <h3>NOVEMBER 12, 2019</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/images/instances/onyxia.png" style="max-height: 160px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>WEDNESDAY - ONY</h5></p>
                </div>
                <div class="col-sm" align="right">
                    <img src="/images/instances/moltencore.png" style="max-height: 160px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>MC - SUNDAY</h5></p>
                </div>
            </div>
            <br>
            <div>
                <p>
                    No comments have been made about this phase!
                </p>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <div class="row">
                <div class="col-sm">
                    <h3>PHASE 3</h3>
                </div>
                <div class="col-sm" align="right">
                    <h3>FEBRUARY 26, 2020</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/images/instances/noraid.png" style="max-height: 160px" class="img-responsive  fit-image desat-image" />
                    <br>
                    <p><h5>WEDNESDAY - NO RAID</h5></p>
                </div>
                <div class="col-sm" align="right">
                    <img src="/images/instances/blackwinglair.png" style="max-height: 80px" class="img-responsive fit-image desat-image" />
                    <img src="/images/instances/moltencore.png" style="max-height: 80px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>BWL / MC - SUNDAY</h5></p>
                </div>
            </div>
            <br>
            <div>
                <p>
                    No comments have been made about this phase!
                </p>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <div class="row">
                <div class="col-sm">
                    <h3>PHASE 4</h3>
                </div>
                <div class="col-sm" align="right">
                    <h3>APRIL 15, 2020</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/images/instances/zulgurub.png" style="max-height: 160px" class="img-responsive  fit-image desat-image" />
                    <br>
                    <p><h5>WEDNESDAY - ZG - NO EPGP</h5></p>
                </div>
                <div class="col-sm" align="right">
                    <img src="/images/instances/blackwinglair.png" style="max-height: 80px" class="img-responsive fit-image desat-image" />
                    <img src="/images/instances/moltencore.png" style="max-height: 80px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>BWL / MC - SUNDAY</h5></p>
                </div>
            </div>
            <br>
            <div>
                <p>
                    Zul'Gurub is a bit of a challenge as it reset every 72 hours. We will have a set Zul'Gurub raid on Wednesdays, which will be organized by the guild. Besides the scheduled ZG run on Wednesdays, more ZG runs might be put up during the week so people that really wants to do ZG have a chance to do so. To make this fair to everybody Zul'Gurub will run <b>without EPGP</b>. But if you join a Vanguard run everything will be rolled out using our priorty system. Voodoo dolls will be going to the guild bank, and distributed to players ready to make an enchant.
                    Blood scytches will be rolled out to herbalist, but all materials inside Zul'Gurub will go to the guild bank.
                </p>
                <p>
                    To make sure that the ZG enchants are somewhat controlled, we will allow everybody to receive 2 sets of enchants before anybody is allowed to receive their third idol! After the first pair of enchants have been distributed to each member then we might stop tracking. So please use your first pair wisely!
                </p>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <div class="row">
                <div class="col-sm">
                    <h3>PHASE 5</h3>
                </div>
                <div class="col-sm" align="right">
                    <h3>UNKNOWN, 2020</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/images/instances/blackwinglair.png" style="max-height: 80px" class="img-responsive fit-image desat-image" />
                    <img src="/images/instances/ahnquiraj20.png" style="max-height: 80px" class="img-responsive  fit-image desat-image" />
                    <br>
                    <p><h5>WEDNESDAY - BWL / AQ 20</h5></p>
                </div>
                <div class="col-sm" align="right">
                    <img src="/images/instances/ahnquiraj40.png" style="max-height: 160px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>AQ 40 - SUNDAY</h5></p>
                </div>
            </div>
            <br>
            <div>
                <p>
                    No comments have been made about this phase!
                </p>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="body_content">
            <div class="row">
                <div class="col-sm">
                    <h3>PHASE 6</h3>
                </div>
                <div class="col-sm" align="right">
                    <h3>UNKNOWN, 2020</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/images/instances/ahnquiraj40.png" style="max-height: 160px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>WEDNESDAY - AQ 40</h5></p>
                </div>
                <div class="col-sm" align="right">
                    <img src="/images/instances/naxxaramas.png" style="max-height: 160px" class="img-responsive fit-image desat-image" />
                    <br>
                    <p><h5>NAXX - SUNDAY</h5></p>
                </div>
            </div>
            <br>
            <div>
                <p>
                    No comments have been made about this phase!
                </p>
            </div>
        </div>
        <div class="breaker"></div>
    </div>