@page "/Roster"

    <div class="body_main margin-index">
        @if (dataIsLoaded == false)
        {
            <p>Fetching player data. Please wait...</p>
        }
        @if (dataIsLoaded && Roster != null)
        {
        <div class="text-center">
            <h1 class="">Roster size: @CalculateRosterNumber()</h1>
        </div>
            @foreach (var rosterSpec in Roster.RosterSpecs)
            {
                <div>
                    <h5><b class="float-left"></b>@rosterSpec.Spec.ToString().ToUpper()<b class="float-right">@rosterSpec.Players.Count().ToString()</b></h5>
                </div>
                <PlayerComponent RosterSpec=rosterSpec />
            }
        }
    </div>
