@page "/Roster"

    <div class="body_main margin-index">
        @if (dataIsLoaded == false)
        {
            <p>Fetching player data. Please wait...</p>
        }
        @if (dataIsLoaded && Roster != null)
        {
            <h1>@CalculateRosterNumber()</h1>
            @foreach (var rosterSpec in Roster.RosterSpecs)
            {
                <h1>@rosterSpec.Spec</h1>
                <h1>@rosterSpec.Players.Count().ToString()</h1>
                <h5><b>@rosterSpec.Spec.ToString().ToUpper()</b></h5>
                <PlayerComponent RosterSpec=rosterSpec />
            }
        }
    </div>
