@page "/bislists"

    <div class="container body_main">
        @if (dataIsLoaded == false)
        {
            <p>Fetching BiS data. Please wait...</p>
        }
        @if (dataIsLoaded && BiS != null)
        {
            @foreach (var biSSpec in BiS.Specs)
            {
                <div class="body_content">
                    <div class="row">
                        <div class="col">
                            <div class="float-left">
                                <h5><img style="margin-bottom:4px" src="@GetIconPath(biSSpec.Name)" width="28" height="28"/>  @biSSpec.Name.ToUpper()</h5>
                            </div>

                            <div class="float-right ml-auto">
                                <div class="text-right">
                                    <h5>RESOURCES</h5>
                                </div>
                                <div>
                                    <p class="text-right" style="font-size: 12px;">
                                        @foreach (var resource in biSSpec.Resources)
                                        {
                                            <a class ="bis-links" href=@resource.Url target="_blank">
                                                @resource.Name //
                                            </a>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <PhaseTableComponent Phases=biSSpec.Phases />
                    </div>
                </div>
                <div class="breaker"></div>
            }
        }
    </div>