@page "/bislists"

    <div class="container body_main">
        @if (dataIsLoaded == false)
        {
            <p>Fetching loot data. Please wait...</p>
        }
        @if (dataIsLoaded && BiS != null)
        {
            @foreach (var biSSpec in BiS.Specs)
            {
                <div class="body_content">
                    <div class="row">
                        <div class="col left-div">
                            <img src="/images/spec/fury.png"/>
                            <h5>@biSSpec.Name.ToUpper()</h5>
                        </div>
                        <div class="col right-div text-sm-right">
                            <b>RESOURCES</b>
                            <p style="font-size: 12px;">HIT VS. AP // FIGHT CLUB</p>
                        </div>
                    </div>
                    <div class="row">
                        <PhaseTableComponent Phases=biSSpec.Phases />
                    </div>
                </div>
                <div class="breaker"></div>
            }
        }
    </div>