@page "/guides"
    <div class="body_main margin-index">
        <div class="body_content">
            <h5>FURY</h5>
            <a href="https://classic.wowhead.com/talent-calc/embed/warrior/20305011302-05050005525010051">Standard Fury</a>
        </div>
    </div>