@foreach (var phase in Phases)
{
    <div class="col">
        <b>@phase.Name.ToUpper()</b>
        <table class="tftable" border="1">
            <tr>
                <th></th>
                <th></th>
            </tr>
            @foreach (var gear in phase.Gear)
            {
                <tr>
                    <td width="28">
                        <a href="https://classic.wowhead.com/item=@gear.ItemId" target="_blank">
                            <img src=@GetIconPath(gear.ItemId)>
                        </a>
                    </td>
                    <td class="table_lootname">
                        @gear.Name
                    </td>
                </tr>
            }
        </table>
    </div>
}