<table class="tftable" border="1">
    <tr>
        <th></th>
    </tr>
    @foreach (var player in RosterSpec.Players)
    {
        <tr @onclick="() => NavigateToLogs(player)">
            <td>
                <div class="container">
                    <div class="row click">
                        <div class="left-div">
                            <img src="@GetSpecIcon()" title=@RosterSpec.Spec.ToString() />
                        </div>
                        <div class="center-div">
                            <b>@player.Name.ToString().ToUpper()</b>
                        </div>
                        <div class="right-div">
                            <img src="@GetNationalityFlag(player)" title=@player.Nationality.ToString() />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
