<table class="tftable" border="1">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><center>GP VALUE</center></th>
    </tr>
    @foreach (var loot in Boss.Loot)
    {
    <tr>
        <td width="28">
            <a href="https://classic.wowhead.com/item=@loot.ItemID" target="_blank">
                <img src=@GetIconPath(loot.ItemID)>
            </a>
        </td>
        <td class="table_lootname">
            @ReturnBiSInfo(loot)
        </td>

        @foreach (var priority in loot.Priorities)
        {
            <td class="@CalculatePriorityClass(priority)" width="28">
                <img src="@FormatSpec(priority)" title=@ReturnDisplayName(priority.Spec)/>
            </td>
        }
        <td class="table_gpvalue">
            <center>@loot.GPValue</center>
        </td>
    </tr>
    }
</table>