.navbar {
    color: white;
    background: none;
    font-family: 'AmplitudeWide';
    font-size: 12px;
    letter-spacing: 3px;
}

.navbar-inner {
}

.dropdown-toggle {
    color: white !important;
}

.banner {
    background: url("../images/banner.jpg") no-repeat;
    height: 100vh;
    max-height: 500px;
    position: relative;
    background-size: cover;
}

html, body {
    font-family: 'Europa';
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.75);
}

.body_main {
    margin-left: 25%;
    margin-right: 25%;
}

.body_content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_indent_div {
    margin-left: 5%;
}

.breaker {
    height: 0px;
    margin: 0px;
    border-bottom: 1px solid #cfcfcf;
    font-size: 1px;
}

/* Jumbotron (Banner) */

.jumbotron {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    color: white;
    height: 535px;
}

.jumbotron-padding {
    padding: 32px;
}

.banner-text-header {
    margin-bottom: 30px;
    margin-top: 200px;
    font-size: 30px;
}

.banner-text {
    font-size: 16px;
}

/* Buttons */

.btn-vanguard {
    padding: 0px, 5px, 0px, 5px;
    background: #323b3b !important; /*2cc8df*/
    border: none;
    border-radius: 0 !important;
    color: white;
}

.btn-vanguard:hover {
    background: #787878 !important;
    outline: none;
    box-shadow: none !important;
    color: white;
}

.btn-vanguard:focus {
    background: #787878 !important;
    outline: none;
    box-shadow: none !important;
    color: white;
}

.btn-vanguard:active {
    background: #787878 !important;
    outline: none;
    box-shadow: none !important;
    color: white;
}

/* Dropdowns */

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/*FONTS*/
a {
    color: #000000;
}

h5 {
    color: #000000;
    font-weight: 600;
}

h6 {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

.small-font {
    font-size: 12px;
    line-height: 1em;
}

@font-face {
    font-family: 'AmplitudeWide';
    src: url('../fonts/AmplitudeWide.ttf')
}

@font-face {
    font-family: 'Europa';
    src: url('../fonts/Europa.ttf')
}

